@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

body {
    font-family:  'Montserrat', sans-serif;
}

.navbar-brand {
    font-weight: 700;
}

.card {
    padding: .4rem;
    min-height: 400px;
    margin: .4rem;
    translate: all ease-in .5s;

    box-shadow: -3px 5px 5px -3px rgba(0,0,0,0.55);
-webkit-box-shadow: -3px 5px 5px -3px rgba(0,0,0,0.55);
-moz-box-shadow: -3px 5px 5px -3px rgba(0,0,0,0.55);
}

.card:hover {
    box-shadow: -1px 3px 7px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 3px 7px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 7px -4px rgba(0,0,0,0.75);
}

.card-img-top {
    max-width: 100%;
    max-height: 40%;
}

body > div.container.flex > div > div > div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article_title {
    font-weight: 600;

}

.btn {
    padding: .2rem .5rem;
    background-color: black;
    border-radius: none;
    color: white;
}

.btn:hover {
    background-color: rgb(170, 170, 170);
    color: black;
}


