{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  
{% endblock %}

{% block content %}
        
        <div class="container flex">
            <h4>Hello, today is {{ current_date }}</h4>
            <hr>
            <h2>General News</h2>
            <div class="pack">
                {{ macro.displayNewsList(general) }}
            </div>
        </div>

{% endblock %}
    